@import "tailwindcss";

@theme{
    --color-primary: #EEEEEE;
    --color-secondary: #6C757D;
    --color-accent: #44444E;
    --color-gold: #e29816;
}

/* Styling the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
}

/* Styling the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Tailwind's gray-100 equivalent */
}

/* Styling the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Tailwind's gray-500 equivalent */
  border-radius: 4px; /* Optional: for rounded thumb */
}